.btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1428571429rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 0.8571428571rem 4.2857142857rem 1.2142857143rem 4.2857142857rem;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: background-color, color;
  text-decoration: none;
  width: max-content;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.8571428571rem 2.1428571429rem 1.2142857143rem 2.1428571429rem;
  }
}
