@function rem($size) {
  $result: $size / 14;

  @return #{$result}rem;
}

.hero-banner {
  position: relative;

  .hero-banner__content {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: rem(36);
    height: 100%;
    padding: rem(101) rem(50) rem(108) rem(50);
    position: absolute;
    width: 100%;

    @media screen and (max-width: 768px) {
      grid-gap: rem(28);
      padding: rem(138) rem(20) rem(88) rem(20);
    }

    .hero-banner__title {
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }

  .hero-banner__images {
    display: flex;
    justify-content: center;
    width: 100%;

    &.hero-banner__images--only-desktop {
      .hero-banner__desktop-image {
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }

    .hero-banner__desktop-image {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .hero-banner__mobile-image {
      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }

  .hero-banner__arrow {
    bottom: rem(30);
    cursor: pointer;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    @media screen and (max-width: 768px) {
      bottom: rem(20);
    }
  }
}
